html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon' href='/icon.png')
    title dat-keyserver
    style
      include style.css
  body
    h1
      a(href='/') dat-keyserver
      span &nbsp;(#{version})
    em
      | a distributed PGP keyserver project based on the&nbsp;
      a(href='https://datproject.org', target='_blank', rel='nofollow norefferer') dat protocol
    hr
    form(action='/search')
      h2 Search
      p Search by user ID (name, comment, email) or key ID
      input(type='text', name='query', size='80', required='')
      br
      button Search
    hr
    form(action='/fetch')
      h2 Fetch
      p Fetch by fingerprint
      input(type='text', name='fingerprint', size='80', required='')
      br
      button Fetch
    hr
    form(action='/publish', method='POST')
      h2 Publish
      p Enter ASCII-armored public key
      textarea(name='key', cols='80', rows='30', required='')
      br
      button Submit
    hr
    form(action='/remove/request' method='POST')
      h2 Remove
      p Key fingerprint
      input(type='text', name='fingerprint', size='80', required='')
      br
      button Remove
    hr
    p
      | Pool key: #{key} / #{peers} peers /&nbsp;
      a(href='/faq') FAQ
      | &nbsp;/&nbsp;
      a(href='https://github.com/tdjsnelling/dat-keyserver', target='_blank', rel='nofollow norefferer') Source


